@import "tailwindcss";


/* App default theme (simple CSS, no Tailwind @apply) */
body {
  background-color: #000000; /* black */
  color: #ffffff;            /* white */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
}
